<div id="list_frame">
    <div id="title">Favorite Items</div>
    <div id="total_items">5 Items Total</div>

    <!--Here goes the items-->
    <div id="listing">
        <div id="item">
            <!--Left Side-->
            <div id="item_title">Apples</div>
            <div id="item_status">Fridge</div>
    
            <!--Right Side-->
            <div id="addItem">
                <div id="addItemText">Add Item</div>
            </div>
            <fa-icon [icon]="faHeart" id="like" *ngIf="down"></fa-icon>
            <hr/> 
        </div>   

        <div id="item">
            <!--Left Side-->
            <div id="item_title">Potatoes</div>
            <div id="item_status">Cupboard</div>
    
            <!--Right Side-->
            <div id="addItem">
                <div id="addItemText">Add Item</div>
            </div>
            <fa-icon [icon]="faHeart" id="like" *ngIf="down"></fa-icon>
            <hr/>
        </div>
    
        <div id="item">
            <!--Left Side-->
            <div id="item_title">Cheese</div>
            <div id="item_status">Fridge</div>
    
            <!--Right Side-->
            <div id="addItem">
                <div id="addItemText">Add Item</div>
            </div>
            <fa-icon [icon]="faHeart" id="like" *ngIf="down"></fa-icon>
            <hr/>
        </div>
    
        <div id="item">
            <!--Left Side-->
            <div id="item_title">Toothpaste</div>
            <div id="item_status">Bathroom</div>
    
            <!--Right Side-->
            <div id="addItem">
                <div id="addItemText">Add Item</div>
            </div>
            <fa-icon [icon]="faHeart" id="like" *ngIf="down"></fa-icon>
            <hr/>
        </div>
    
        <div id="item">
            <!--Left Side-->
            <div id="item_title">Coca Cola</div>
            <div id="item_status">Fridge</div>
    
            <!--Right Side-->
            <div id="addItem">
                <div id="addItemText">Add Item</div>
            </div>
            <fa-icon [icon]="faHeart" id="like" *ngIf="down"></fa-icon>
            <hr/>
        </div>
    </div>
</div>
