<!--Fridge-->

    <!--Categories-->
    <div id="categories">
        <div id="up_sharp" (click)="redirect();">
            <img src="../../../../../assets/meats.jpg" id="image">
            <div id="category_title">Meats</div>
            <div id="category_sub">9 categories</div>
        </div>
        <div id="down_sharp">
            <img src="../../../../../assets/vegetables.jpg" id="image">
            <div id="category_title">Vegetables</div>
            <div id="category_sub">7 categories</div>
        </div>
        <div id="up_sharp">
            <img src="../../../../../assets/dairy.jpg" id="image">
            <div id="category_title">Dairy</div>
            <div id="category_sub">8 categories</div>
        </div>
        <div id="down_sharp">
            <img src="../../../../../assets/fruits.jpg" id="image">
            <div id="category_title">Fruits</div>
            <div id="category_sub">7 categories</div>
        </div>
        <div id="up_sharp">
            <img src="../../../../../assets/soda.jpg" id="image">
            <div id="category_title">Soda</div>
            <div id="category_sub">5 categories</div>
        </div>
        <div id="down_sharp">
            <img src="../../../../../assets/frozen.jpg" id="image">
            <div id="category_title">Frozen</div>
            <div id="category_sub">8 categories</div>
        </div>
        <div id="up_sharp">
            <img src="../../../../../assets/bakery.jpg" id="image">
            <div id="category_title">Bakery</div>
            <div id="category_sub">7 categories</div></div>
        <div id="down_sharp">
            <img src="../../../../../assets/sweets.jpeg" id="image">
            <div id="category_title">Sweets</div>
            <div id="category_sub">6 categories</div></div>
        <div id="up_sharp">
            <img src="../../../../../assets/cold_cuts.png" id="image">
            <div id="category_title">Cold Cuts</div>
            <div id="category_sub">9 products</div></div>
        <div id="down_sharp">
            <img src="../../../../../assets/eggs.jpg" id="image">
            <div id="category_title">Eggs</div>
            <div id="category_sub">3 products</div></div>
        <div id="up_sharp">
            <img src="../../../../../assets/juices.jpg" id="image">
            <div id="category_title">Juices</div>
            <div id="category_sub">4 products</div></div>
    </div>
