<!--Meats Component-->
<div id="top_div_meats">
    <img src="../../../../assets/meats.jpg" id="image">
    <div id="inner_text">Choose a type of meat</div>
</div>

<div id="products">
    <div id="line">
        <div id="corner_right">
            <img src="../../../../assets/meats/cow.jpg" id="right_image">
            <div id="text_image" style="left:32%">Cow</div>
        </div>
        <div id="center">
            <img src="../../../../assets/meats/turkey.jpg" id="center_image">
            <div id="text_image" style="left:25%">Turkey</div>
        </div>
        <div id="corner_left">
            <img src="../../../../assets/meats/duck.jpg" id="left_image">
            <div id="text_image" style="left:30%">Duck</div>
        </div>
    </div>
    <div id="line">
        <div id="corner_right">
            <img src="../../../../assets/meats/lamb.jpg" id="right_image">
            <div id="text_image" style="left:30%">Lamb</div>
        </div>
        <div id="center">
            <img src="../../../../assets/meats/pork.jpg" id="center_image">
            <div id="text_image" style="left:33%">Pork</div>
        </div>
        <div id="corner_left">
            <img src="../../../../assets/meats/chicken.jpg" id="left_image" (click)="redirect()">
            <div id="text_image" style="left:22%">Chicken</div>
        </div>
    </div>
    <div id="line">
        <div id="corner_right">
            <img src="../../../../assets/meats/goat.jpg" id="right_image">
            <div id="text_image" style="left:30%">Goat</div>
        </div>
        <div id="center">
            <img src="../../../../assets/meats/fish.jpg" id="center_image">
            <div id="text_image" style="left:35%">Fish</div>
        </div>
        <div id="corner_left">
            <img src="../../../../assets/meats/proccessed.jpg" id="left_image">
            <div id="text_image" style="left:9%">Proccessed</div>
        </div>
    </div>
</div>
