<!--User Component-->
<div id="menu" >
    <div id="triangle"></div>
    <div id="rect">
        <div id="name">Hello George!</div>
        <!--Buttons-->
        <div id="row" (click)="fridge()">
            <img src="../../../assets/status/fridge.svg" id="image">
            <div id="place">Fridge</div>
        </div>
        <div id="row" (click)="cupboard()">
            <img src="../../../assets/status/cupboard.svg" id="image">
            <div id="place">Cupboard</div>
        </div>
        <div id="row" (click)="bathroom()">
            <img src="../../../assets/status/bathroom.svg" id="image">
            <div id="place">Bathroom</div>
        </div>
        <div id="row" (click)="favorite()">
            <div id="favorite">Favourite Items</div>
        </div>

        <!--Logout-->
        <div id="logOut">
            <div id="logText">Log Out</div>
        </div>
    </div> 
</div>     

