<div id="pending">
    <div id="triangle"></div>
    <div id="box">
        <!--Check All-->
        <div id="checkAll">
            <div id="checkAllText">
                Check All
            </div>
            <div id="square"></div> <!--Right Side-->
            <div id="total">5 Items Total</div>
            <hr/>
        </div>

        <!--Listing-->
        <div id="attrs">
            <div id="prods">
                <fa-icon [icon]="faListOl" id="calendar"></fa-icon>
                <div id="prodsText">Products</div>
            </div>

            <div id="prods" style="left:430px">
                <fa-icon [icon]="faCalendarDays" id="calendar"></fa-icon>
                <div id="prodsText">Date</div>
            </div>
        </div>

        <!--Rows-->
        <div class="rows">
            <div id="num">1.</div>
            <div id="item">12 Eggs</div>
            <div id="date">Today, 15:51</div>
            <div id="squareFor"></div>
        </div>
        <div class="rows">
            <div id="num">2.</div>
            <div id="item">5 Tomatoes</div>
            <div id="date">Today, 15:51</div>
            <div id="squareFor"></div>
        </div>
        <div class="rows">
            <div id="num">3.</div>
            <div id="item">2 Chicken Breast</div>
            <div id="date">Today, 15:51</div>
            <div id="squareFor"></div>
        </div>
        <div class="rows">
            <div id="num">4.</div>
            <div id="item">5 Red Mushrooms</div>
            <div id="date">Today, 15:51</div>
            <div id="squareFor"></div>
        </div>
    </div>
</div>
