<!--User Component-->
<div id="menu" >
    <div id="triangle"></div>
    <div id="rect">
        <!--Nots-->
        <div id="row">
            <fa-icon [icon]="faCircleExclamation" id="icon"></fa-icon>
            <div id="nots">Running low: <a style="margin-left:5px; font-weight:600">Water</a></div>
            <div id="addButton">
                <div id="addText">Add</div>
            </div>
        </div>
        <div id="row">
            <fa-icon [icon]="faCircleCheck" id="icon"></fa-icon>
            <div id="nots">Added on cupboard: <a style="margin-left:5px; font-weight:600">Chips</a></div>
        </div>
        <div id="row">
            <fa-icon [icon]="faCircleCheck" id="icon"></fa-icon>
            <div id="nots">Added on fridge: <a style="margin-left:5px; font-weight:600">Bacon</a></div>
        </div>
    </div> 
</div>     

