<div id="chicken">
    <div id="chicken_text">Soda</div>
    <div id="close" (click)="back()">
        <fa-icon [icon]="faXmark" id="faX"></fa-icon>
    </div>


    <!--Items-->
    <div id="item">
        <img src="../../../../assets/fridgePanel/soda/coca.jpg" id="image">
        <div id="item_text">Coca Cola</div>
        <div id="counter">Counter:<a>3</a></div>
        <div id="minimum_value">Minimum value:<a style="font-weight: 600 ;">2</a></div>
        <div id="add" >
            <div id="add_text">Add Item</div>
            <fa-icon [icon]="faChevronRight" id="right"></fa-icon>
        </div>
        <fa-icon [icon]="faHeart" id="heart"></fa-icon>

    </div>
    <div id="item">
        <img src="../../../../assets/fridgePanel/soda/sprite.jpg" id="image">
        <div id="item_text">Sprite</div>
        <div id="counter">Counter:<a>4</a></div>
        <div id="minimum_value">Minimum value:<a style="font-weight: 600 ;">0</a></div>
        <div id="add">
            <div id="add_text">Add Item</div>
            <fa-icon [icon]="faChevronRight" id="right"></fa-icon>
        </div>
        <fa-icon [icon]="faHeart" id="heart"></fa-icon>

    </div>
    <div id="item">
        <img src="../../../../assets/fridgePanel/soda/red.jpg" id="image">
        <div id="item_text">Red Bull</div>
        <div id="counter">Counter:<a>6</a></div>
        <div id="minimum_value">Minimum value:<a style="font-weight: 600 ;">3</a></div>
        <div id="add">
            <div id="add_text">Add Item</div>
            <fa-icon [icon]="faChevronRight" id="right"></fa-icon>
        </div>
        <fa-icon [icon]="faHeart" id="heart" style="color:#c71313"></fa-icon>

    </div>
    <div id="item">
        <img src="../../../../assets/fridgePanel/soda/monster.jpg" id="image">
        <div id="item_text">Monster</div>

        <!--Please Add-->
        <div id="low">Please Add</div>

        <div id="counter">Counter:<a>0</a></div>
        <div id="minimum_value">Minimum value:<a>2</a></div>
        <div id="add">
            <div id="add_text">Add Item</div>
            <fa-icon [icon]="faChevronRight" id="right"></fa-icon>
        </div>
        <fa-icon [icon]="faHeart" id="heart"></fa-icon>

    </div>
    <div id="item">
        <img src="../../../../assets/fridgePanel/soda/gatorade.jpg" id="image">
        <div id="item_text">Gatorade</div>
        <div id="counter">Counter:<a>0</a></div>
        <div id="minimum_value">Minimum value:<a>0</a></div>
        <div id="add">
            <div id="add_text" >Add Item</div>
            <fa-icon [icon]="faChevronRight" id="right"></fa-icon>
        </div>
        <fa-icon [icon]="faHeart" id="heart" style="color:#c71313"></fa-icon>

    </div>
    <div id="item">
        <img src="../../../../assets/fridgePanel/soda/dew.png" id="image">
        <div id="item_text">Mountain Dew</div>
        <div id="counter">Counter:<a>4</a></div>
        <div id="minimum_value">Minimum value:<a>3</a></div>
        <div id="add">
            <div id="add_text">Add Item</div>
            <fa-icon [icon]="faChevronRight" id="right"></fa-icon>
        </div>
        <fa-icon [icon]="faHeart" id="heart"></fa-icon>

    </div>
</div>
