<!--Bathroom-->

    <!--Categories-->
    <div id="categories">
        <div id="up_sharp" (click)="oralRedirect()">
            <img src="../../../../../assets/bathroom/oral.jpg" id="image">
            <div id="category_title" style="font-size: 28px;">Oral Health</div>
            <div id="category_sub">9 categories</div>
        </div>
        <div id="down_sharp">
            <img src="../../../../../assets/bathroom/pharmaceuticals.jpg" id="image">
            <div id="category_title" style="font-size: 23px;">Pharmaceuticals</div>
            <div id="category_sub">7 categories</div>
        </div>
        <div id="up_sharp">
            <img src="../../../../../assets/bathroom/hair.jpg" id="image">
            <div id="category_title">Hair Care</div>
            <div id="category_sub">9 categories</div>
        </div>
        <div id="down_sharp">
            <img src="../../../../../assets/bathroom/body.jpg" id="image">
            <div id="category_title">Body Care</div>
            <div id="category_sub">9 categories</div>
        </div>
        <div id="up_sharp">
            <img src="../../../../../assets/bathroom/face.jpg" id="image">
            <div id="category_title" style="font-size: 24px;">Face Hygiene</div>
            <div id="category_sub">9 categories</div>
        </div>
        <div id="down_sharp">
            <img src="../../../../../assets/bathroom/tools.jpg" id="image">
            <div id="category_title" style="font-size: 23px;">Cleaning Tools</div>
            <div id="category_sub">9 categories</div>
        </div>
        <div id="up_sharp">
            <img src="../../../../../assets/bathroom/laundry.jpg" id="image">
            <div id="category_title">Laundry</div>
            <div id="category_sub">9 categories</div></div>
        <div id="down_sharp">
            <img src="../../../../../assets/bathroom/cleaners.jpg" id="image">
            <div id="category_title">Cleaners</div>
            <div id="category_sub">9 categories</div>
        </div>
    </div>

    <app-oral *ngIf="oral"></app-oral>
