#insider{
    position: absolute;
    width: 375px;
    height: 651px;
    left: 0px;
    top: 57px;
    background: aliceblue;
}

#places_slider{
    position: absolute;
    width: 357px;
    height: 114px;
    left: 9px;
    top: 14px;
    background: #E7D5D5;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#fridge{
    object-fit:fill;
    width: 80px;
    margin-top: 16px;
    margin-left: 16px;
}

#kitchen{
    border-radius: 20px;
    width: 114px;
    height: 112px;
    float: left;
}

#cupboard{
    margin-left: 8px;
    border-radius: 20px;
    width: 114px;
    height: 112px;
    float: left;
}

#cabinet{
    object-fit:fill;
    width: 70px;
    margin-top: 27px;
    margin-left: 23px;
}

#bathroom{
    border-radius: 20px;
    width: 114px;
    height: 112px;
    float: right;
}

#bath{
    width: 80px;
    margin-top: 16px;
    margin-left: 18px;
}

#icon{
    display: flex;
    font-size: 60px;
    margin-left: 25px;
    margin-top: 20px;
}

